<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>图片</title>

    <!-- common -->
    <link rel="stylesheet" href="views/lib/common/common.css">
    <!-- MySelf -->
    <link rel="stylesheet" type="text/css" href="views/pages/image/image.css">
</head>
<body>
    <!-- 数据源 -->
    <div id="data">
        <p class="sourceType"><%= sourceType %></p>
        <p class="ipUrl"><%= ipUrl %></p>
        <% for(var i = 0; i < list.length; i++) { %>
            <p class="source"><%= list[i] %></p>
        <% } %>
    </div>
    <!-- 界面 -->
    <div id="container"></div>
    <div id="buttons">
        <img src="views/images/imgBig.png" alt="放大" onclick="imgBig()" />
        <img src="views/images/imgSmall.png" alt="缩小" onclick="imgSmall()" />
    </div>
    <audio id="audio" src="views/images/此生过半.mp3" loop controls="controls" onplay="playAudio()"
        onpause="pauseAudio()"></audio>
    <!-- 弹框 -->
    <div id="modal">
        <div id="modalShow"></div>
        <div id="modalContent" onclick="hiddenModal()">
            <img id="preImg" src="views/images/arrow-left.png" alt="上一张" onclick="preImg(event)" />
            <img id="showImg" src="" alt="大图" />
            <img id="nextImg" src="views/images/arrow-right.png" alt="下一张" onclick="nextImg(event)" />
        </div>
    </div>

    <!-- jQuery -->
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- 圣诞雪花 -->
    <script src="views/lib/snow/snow.js"></script>
    <!-- common -->
    <script type="text/javascript" src="views/lib/common/common.js"></script>
    <!-- MySelf -->
    <script src="views/pages/image/image.js"></script>
</body>
</html>
