* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    background: black url('../../images/bg9.jpeg') no-repeat fixed;
    background-size: cover;
}

#data {
    display: none;
}

/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 分割线 */
#container {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    overflow: scroll;
}

.item {
    height: 65vh;
    margin: 0 5px 5px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid transparent
}

.addMore {
    display: flex;
    justify-content: center;
}

.addMore button {
    width: 35%;
    max-width: 300px;
    min-width: 200px;
    height: 60px;
    color: wheat;
    text-align: center;
    font-size: 18px;
    line-height: 60px;
    background-color: transparent;
}

#buttons {
    width: 45px;
    position: fixed;
    left: 13px;
    top: 23px;
    z-index: 10;
}

#buttons img {
    width: 45px;
    height: 45px;
}

#audio {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 弹框 */
#modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#modal img:nth-child(1) {
    width: 200px;
    height: 100vh;
    padding: calc((100vh - 80px) / 2) 60px;
    position: fixed;
    left: 0px;
    z-index: 101;
}

#modal img:nth-child(3) {
    width: 200px;
    height: 100vh;
    padding: calc((100vh - 80px) / 2) 60px;
    position: fixed;
    right: 0px;
    z-index: 101;
}

#showImg {
    height: 100vh;
}

@media only screen and (max-width: 500px) {
    .container {
        padding: 10px;
    }
    .item {
        width: 100% !important;
        height: auto !important;
        margin: 0px;
        box-sizing: border-box;
    }
    .marqueeItem {
        width: auto !important;
    }
}
