

body {
    background: black url('../images/bgpng2.png') no-repeat fixed;
    background-size: cover !important;
    background-position: center !important;
}

#container {
    width: 35vw;
    height: 100vh;
    position: fixed;
    left: 32.5vw;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#data {
    display: none;
}

a {
    padding: 2px 15px 5px;
    border-radius: 5px;
    height: 63px;
    color: lightseagreen;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    font-family: fangsong;
    /* 去掉下划线 */
    text-decoration: none;
    /* 文本阴影 */
    text-shadow: 2px 2px 1px white;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

a:hover::after {
    /*content: '-->>';*/
    content: "(" attr(href) ")";
    display: block;
}


