<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<!--    <meta http-equiv="content-type" content="text/html; charset=UTF-8">-->
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>介绍</title>

    <!-- React -->
    <script type="text/javascript" src="views/lib/react/react.development.js"></script>
    <script type="text/javascript" src="views/lib/react/react-dom.development.js"></script>
    <script type="text/javascript" src="views/lib/react/babel.min.js"></script>
    <!-- Antd -->
    <link rel="stylesheet" href="views/lib/antd/antd.css">
    <script type="text/javascript" src="views/lib/antd/antd.js"></script>
    <!-- common -->
    <link rel="stylesheet" href="views/lib/common/common.css">
    <!-- 自带 -->
    <link rel="stylesheet" type="text/css" href="views/pages/index.css">
</head>
<body>
    <div id="data">
        <img src="views/images/bg1.jpeg" />
        <img src="views/images/bg2.jpeg" />
        <img src="views/images/bg3.jpeg" />
        <img src="views/images/bg4.jpeg" />
        <img src="views/images/bg5.jpeg" />
        <img src="views/images/bg6.jpeg" />
        <img src="views/images/bg7.jpeg" />
        <img src="views/images/bg8.jpeg" />
        <img src="views/images/bg9.jpeg" />
    </div>
    <!-- 界面 -->
    <div id="app"></div>

    <!-- 看板娘 -->
    <script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>
    <script type="text/javascript">
        L2Dwidget.init({
            "model": {
                "jsonPath": "https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json",
                // "jsonPath": "https://unpkg.com/live2d-widget-model-miku@1.0.5/assets/miku.model.json",
                "scale": 1
            },
            "display": {
                "position": "right",
                "width": 100,
                "height": 200,
                "hOffset": 0,
                "vOffset": -20
            },
            "mobile": {
                "show": true,
                "scale": 0.5
            },
            "react": {
                "opacityDefault": 0.7,
                "opacityOnHover": 0.2
            }
        });
    </script>
    <!-- jQuery -->
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- common -->
    <script type="text/javascript" src="views/lib/common/common.js"></script>
    <!-- 自带 -->
    <script type="text/babel" src="views/pages/index.jsx"></script>
</body>
</html>
