

body {
    background: black url('../images/bgpng2.png') no-repeat fixed;
    background-size: cover !important;
    background-position: center !important;
}

.container {
	width: 50vw;
    height: 50vh;
    position: fixed;
    left: 25vw;
    top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#data {
    display: none;
}

a {
    color: lightseagreen;
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
    font-family: fangsong;
    /* 去掉下划线 */
    text-decoration: none;
    /* 文本阴影 */
    text-shadow: 2px 2px 1px white;
}


