#container {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
}

.item {
    margin-bottom: 20px;
}

.item a {
    display: block;
    margin-bottom: 5px;
}

.item iframe {
    width: 100%;
    height: 35vh;
    border: 4px solid white;
}
