<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>设置</title>

    <!-- common -->
    <link rel="stylesheet" href="views/lib/common/common.css">
    <!-- MySelf -->
    <link rel="stylesheet" type="text/css" href="views/pages/setting/index.css">
</head>
<body>
    <div id="container">
        <div class="row">
            <p class="lable">图片主页 预览时 是否开启背景模糊</p>
            <input id="blur" type="checkbox" class="switch" onchange="change(event)">
        </div>
    </div>

    <!-- jQuery -->
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- common -->
    <script type="text/javascript" src="views/lib/common/common.js"></script>
    <!-- MySelf -->
    <script src="views/pages/setting/index.js"></script>
</body>
</html>
