* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    background: white url('images/bg4.jpeg') no-repeat fixed;
    background-size: cover;
}

.info {
    display: none;
}

.container {
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    overflow: scroll;
    column-count: 4;
    column-gap: 8px;
}

.item {
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.itemCurrent {
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid white;
}

#videoCurrent {
    width: 45px;
    height: 45px;
    position: fixed;
    right: 13px;
    top: 23px;
    z-index: 10;
}

#videoCircul {
    width: 45px;
    height: 45px;
    position: fixed;
    right: 13px;
    top: 80px;
    z-index: 10;
}

@media only screen and (max-width: 500px) {
    .container {
        padding: 10px;
    }
    .item {
        width: 100%;
        height: auto;
        margin: 0px;
        box-sizing: border-box;
    }
}


