* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    background: white url('../images/bg9.jpeg') no-repeat fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.iframe {
    width: 50vw;
    height: 100vh;
}

