<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>视频</title>

    <!-- React -->
    <script type="text/javascript" src="views/lib/react/react.development.js"></script>
    <script type="text/javascript" src="views/lib/react/react-dom.development.js"></script>
    <script type="text/javascript" src="views/lib/react/babel.min.js"></script>
    <!-- Antd -->
    <link rel="stylesheet" href="views/lib/antd/antd.css">
    <script type="text/javascript" src="views/lib/antd/antd.js"></script>
    <!-- common -->
    <link rel="stylesheet" href="views/lib/common/common.css">
    <!-- MySelf -->
    <link rel="stylesheet" type="text/css" href="views/pages/video/video.css">
</head>
<body>
    <!-- 数据源 -->
    <div id="data">
        <p class="sourceType"><%= sourceType %></p>
        <p class="ipUrl"><%= ipUrl %></p>
        <% for(var i = 0; i < list.length; i++) { %>
            <p class="source"><%= list[i] %></p>
        <% } %>
    </div>
    <!-- 界面 -->
    <div id="container"></div>
    <div id="buttons">
        <img src="views/images/imgBig.png" alt="放大" onclick="imgBig()" />
        <img src="views/images/imgSmall.png" alt="缩小" onclick="imgSmall()" />
        <img src="views/images/location.png" alt="当前播放位置" id="videoCurrent" onclick="scrollToCurrent()" />
        <img src="views/images/circul.png" alt="整体循环播放" id="videoCircul" onclick="videoCircul()" />
    </div>

    <!-- jQuery -->
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- 圣诞雪花 -->
    <script src="views/lib/snow/snow.js"></script>
    <!-- common -->
    <script type="text/javascript" src="views/lib/common/common.js"></script>
    <!-- MySelf -->
    <script src="views/pages/video/video.js"></script>
</body>
</html>
