<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>视频 & 图片</title>

    <!-- MySelf -->
    <link rel="stylesheet" type="text/css" href="views/pages/iframe/index.css">
</head>
<body>
<!--    <iframe id="iframe1" class="iframe" src="http://127.0.0.1:8090/video?index=0"></iframe>-->
    <iframe id="iframe1" class="iframe" src="http://127.0.0.1:8090/videoCSS?index=0"></iframe>
<!--    <iframe id="iframe1" class="iframe" src="http://127.0.0.1:8090/image?index=0"></iframe>-->
    <iframe id="iframe1" class="iframe" src="http://127.0.0.1:8090/imageCSS?index=0"></iframe>

    <!-- jQuery -->
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- MySelf -->
    <script src="views/pages/iframe/index.js"></script>
</body>
</html>
