<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>图片</title>

    <!-- 自带 -->
    <link rel="stylesheet" type="text/css" href="views/lib/image.css">
</head>
<body>
    <div class="info">
        <% for(var i=0; i < list.length; i++) { %>
            <p class="source"><%= list[i] %></p>
            <!-- <img src="http://127.0.0.1:8080<%= list[i] %>" /> -->
        <% } %>
    </div>
    <div class="container"></div>
    <marquee class="marquee"></marquee>
    <div class="buttons">
        <img src="views/images/imgBig.png" alt="放大" onclick="imgBig()" />
        <img src="views/images/imgSmall.png" alt="缩小" onclick="imgSmall()" />
    </div>
    <div class="modal" onclick="handleModal()">
        <div class="show"></div>
        <img src="" alt="大图" id="showImg" />
    </div>
    <audio id="audio" src="views/images/阿悠悠.mp3" loop controls="controls" onplay="playAudio()"
        onpause="pauseAudio()"></audio>

    <!-- jQuery -->
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- 圣诞雪花 -->
    <script src="views/lib/snow/snow.js"></script>
    <!-- 自带 -->
    <script src="views/lib/image.js"></script>
</body>
</html>
