<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,
    minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>介绍</title>

    <style type="text/css">
        a {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <p>本项目所用到的知识点</p>
    <p>1.Node.js</p>
    <p>2.Node.js的EJS模块引擎</p>
    <p>3.Node.js的http静态服务器</p>
    <a href="http://127.0.0.1:8080/images">访问图片主页</a>
    <a href="http://127.0.0.1:8080/video">访问视频主页</a>
    <p>访问视频 , 请使用Chrome浏览器 , Safari浏览器有问题(原因未知)</p>

    <script type="text/javascript">

    </script>
</body>
</html>
