<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,
    minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>介绍</title>

    <!-- 自带 -->
    <link rel="stylesheet" type="text/css" href="views/lib/introduce.css">
    <style type="text/css">
        a {
            margin-right: 10px;
        }
    </style>
</head>
<body>
	<div class="container">
	    <p>本项目所用到的知识点</p>
	    <p>1.Node.js</p>
	    <p>2.Node.js的EJS模块引擎</p>
	    <p>3.Node.js的http静态服务器</p>
	    <a href="http://127.0.0.1:8080/images">访问图片主页</a>
	    <a href="http://127.0.0.1:8080/video">访问视频主页</a>
	    <p>访问视频 , 请使用Chrome浏览器 , Safari浏览器有问题(原因未知)</p>
	</div>

    <!-- 看板娘 -->
    <script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>
    <script type="text/javascript">
        L2Dwidget.init({
            "model": {
                "jsonPath": "https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json",
                // "jsonPath": "https://unpkg.com/live2d-widget-model-miku@1.0.5/assets/miku.model.json",
                "scale": 1
            },
            "display": {
                "position": "right",
                "width": 100,
                "height": 200,
                "hOffset": 0,
                "vOffset": -20
            },
            "mobile": {
                "show": true,
                "scale": 0.5
            },
            "react": {
                "opacityDefault": 0.7,
                "opacityOnHover": 0.2
            }
        });
    </script>
</body>
</html>
