<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,
    minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>视频</title>

    <!-- 自带 -->
    <link rel="stylesheet" type="text/css" href="views/lib/video_images.css">
</head>
<body>
    <div class="info">
        <% for(var i = 0; i < list.length; i++) { %>
            <p class="source"><%= list[i] %></p>
            <!-- <video src="http://127.0.0.1:8080<%= list[i] %>" controls onplay="playVideo(this)"></video> -->
        <% } %>
    </div>
    <div class="container"></div>
    <img src="views/images/location.png" alt="当前播放位置" class="current" onclick="current()" />

    <!-- jQuery -->
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- 圣诞雪花 -->
    <!-- <script src="views/lib/snow/zepto.min.js"></script> -->
    <!-- <script src="views/lib/snow/snow.js"></script> -->
    <!-- 自带 -->
    <script src="views/lib/video.js"></script>
</body>
</html>
