<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,
    minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>视频</title>

    <!-- MySelf -->
    <link rel="stylesheet" type="text/css" href="views/lib/video.css">
</head>
<body>
    <div class="info">
        <p class="sourceType"><%= sourceType %></p>
        <p class="ipUrl"><%= ipUrl %></p>
        <% for(var i = 0; i < list.length; i++) { %>
            <p class="source"><%= list[i] %></p>
            <!-- <video src="http://127.0.0.1:8080<%= list[i] %>" controls onplay="playVideo(this)"></video> -->
        <% } %>
    </div>
    <div class="container"></div>
    <div class="buttons">
        <img src="views/images/imgBig.png" alt="放大" onclick="imgBig()" />
        <img src="views/images/imgSmall.png" alt="缩小" onclick="imgSmall()" />
        <img src="views/images/location.png" alt="当前播放位置" id="videoCurrent" onclick="videoCurrent()" />
        <img src="views/images/circul.png" alt="整体循环播放" id="videoCircul" onclick="videoCircul()" />
    </div>
    
    <!-- jQuery -->
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- 圣诞雪花 -->
    <script src="views/lib/snow/snow.js"></script>
    <!-- MySelf -->
    <script src="views/lib/video.js"></script>
</body>
</html>
