<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>图片</title>

    <!-- React -->
    <script type="text/javascript" src="views/lib/react/react.development.js"></script>
    <script type="text/javascript" src="views/lib/react/react-dom.development.js"></script>
    <script type="text/javascript" src="views/lib/react/babel.min.js"></script>
    <!-- Antd -->
    <link rel="stylesheet" href="views/lib/antd/antd.css">
    <script type="text/javascript" src="views/lib/antd/antd.js"></script>
    <!-- common -->
    <link rel="stylesheet" href="views/lib/common/common.css">
    <!-- MySelf -->
    <link rel="stylesheet" type="text/css" href="views/pages/imageCSS/index.css">
</head>
<body>
    <!-- 数据源 -->
    <div id="data">
        <p class="sourceType"><%= sourceType %></p>
        <p class="ipUrl"><%= ipUrl %></p>
        <% for(var i = 0; i < list.length; i++) { %>
            <p class="source"><%= list[i] %></p>
        <% } %>
    </div>
    <!-- 界面 -->
    <div id="app"></div>

    <!-- jQuery -->
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- 圣诞雪花 -->
    <script type="text/javascript" src="views/lib/snow/snow.js"></script>
    <!-- common -->
    <script type="text/javascript" src="views/lib/common/common.js"></script>
    <!-- MySelf -->
    <script type="text/babel" src="views/pages/imageCSS/index.jsx"></script>
</body>
</html>
